/env
/__pycache__/*
/api/__pycache__/*
*.pem
*.key
*.pub

# Ignore all contents in the input folder
/input/*

# But don't ignore the default folder and its contents
!/input/default/
!/input/default/*

# Ignore specific file types everywhere except in input/default
*.png
*.jpg
!/input/default/*.png
!/input/default/*.jpg